html, body, #root {
    height: 100%;
    width: 100%;

    font-family: 'Lora', sans-serif;

    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #2E382E;
    background: #FDFDFD;
}

.mirrored {
    flex: 3 1 auto;
    max-height: 42.5%;

    margin: 0;
    padding: 0 3rem;
    font-size: 5rem;
    text-align: justify;
    overflow-y: auto;
    
    /* overflow & word-break section */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.controls {
    /* background: #F5F5F5; */
    background: #EFEFEF;

    height: 10%;
    width: 100%;
    border-top: 1px dashed #2E382E;
    border-bottom: 1px dashed #2E382E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='text'] {
    padding: 3px;
    margin: 5px 0;
}
